<mat-toolbar>
    <button mat-icon-button class="menu-icon" aria-label="menu-icon" (click)="toggleSidebar.emit()">
        <!-- <button mat-icon-button class="menu-icon" aria-label="menu-icon"> -->
        <mat-icon>menu</mat-icon>
    </button>
    <span class="mx-3">Rock Gadgets</span>
    <span class="example-spacer"></span>
    <span class="mx-3">About Us</span>
    <button mat-icon-button class="search-icon mx-3" aria-label="search icon">
        <mat-icon>search</mat-icon>
    </button>
</mat-toolbar>