<footer class="d-flex w-100 py-4">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <!-- <p>footer works!</p> -->
                <span class="d-flex w-100 justify-content-center" style="font-style: italic;">Dive into the world of technology with Rock Gadgets – where innovation meets inspiration.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-6"><a>©Copyright 2024</a></div>
            <div class="col-6 text-end"><a>Terms and Condition</a></div>
        </div>
    </div>
</footer>