<app-header (toggleSidebar)="toggleSidebar()"></app-header>
<mat-drawer-container class="background">
    <mat-drawer #drawer class="no-border drawer" [opened]="isSidebarOpen()">
        <mat-nav-list>
            <a class="no-border" mat-list-item routerLink="">Home</a>
            <a class="no-border" mat-list-item routerLink="">About Us</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="w-100">
        <div class="content p-0">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<!-- <mat-sidenav-container class="example-container" autosize [hasBackdrop]="true">
    <mat-sidenav #drawer class="example-sidenav" mode="side" [(opened)]="opened">
        <mat-nav-list>
            <a mat-list-item routerLink="">Home</a>
            <a mat-list-item routerLink="">About Us</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content> 
</mat-sidenav-container> -->