<div class="container">
    <div class="row">
        <div class="col">
            <div class="carousel"></div>
            <!-- <p>home works!</p> -->
        </div>
    </div>
    <div class="row taglie-container">
        <div class="col">
            <p>Welcome to Rock Gadgets – your ultimate destination for the latest in technology and web development!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-text-image></app-text-image>
        </div>
    </div>
</div>
<app-footer></app-footer>